.main-wrapper{
    display: flex;
    margin-left: 500px;
}
.container{
    width: 80%;
    margin: 0 auto;
    display: flex;
}
.container ul{
    display: flex;
}
.container ul li{
    list-style-type: none;

}
.container ul li a{
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}
/* ===img==== */
.image img{
    width: 100%;
}
.image2 img{
    width: 100%;
}
/* ===card=== */
.card{
    width: 25%;
    margin: 8px 16px;
}
.card-wrapper{
    display: flex;
    
}